body {
  background: url(../img/fond.png) no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
}

.logo {
  max-height: 130px;
  max-width: 90px;
  margin: 5px;
  margin-bottom: 15px;
}
#footer {
  text-align: center;
}

#main-text {
  font-size: 120%;
  text-align: justify;
}

.card {
  margin-bottom: 10px;
}

#author-list {
  max-height: 768px;
  height: 768px;
  overflow-y: auto;
}

#navbar {
  margin-bottom: 20px;
}

#subset-container {
  margin-bottom: 3px;
}

#subset {
  background-color: white;
  border-radius: 5px;
  display: inline;
  padding: 3px 15px;
}

#container {
  border: 2px solid white;
  border-radius: 5px;
  overflow: hidden;
  background: #F0F8FF;
}

.country:hover {
  stroke: #fff;
  stroke-width: 2px;
}

.text {
  font-size: 10px;
  text-transform: capitalize;
}

.hidden {
  display: none;
}

div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}

.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.equator {
  stroke: #ccc;
  stroke-width: 1px;
}

.title {
  margin-right: 8px;
  font-style: italic;
}

.genre {
  margin-right: 8px;
}

#all-entries:hover, .country-list-item:hover, .author-list-item:hover, .genre-list-item:hover, .country {
  cursor: pointer;
}
